* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  height: 500px;
  text-align: center;
  margin-top:40px;
  padding: 40px;
  background-color: #fdf4e6

}
.container {
  margin-top:40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 60px;
  color: #341b70de;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.time-count__days, .time-count__hours, .time-count__minutes, .time-count__secound{
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #341b70de;
  border-radius: 50%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.time-count__val{
  min-width: 81px;
  font-size: 60px;
  font-weight: 400;
  color:cornsilk;
}

.time-count__text {
  color:cornsilk;
}

span {
  display: block;
  font-size: 24px;
  font-weight: 700;
}